body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  padding: 10px 0;
  color: white;
  text-align: center;
  background-color: #05f;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#Videos {
  padding-block: 6.25rem;
  color: #05f;
}

#videos.video-grid {
  display: grid;
  grid-template-rows: repeat(2, 50vh); /* Set each row height to 50vh */
  grid-template-columns: repeat(2, 1fr);
  gap: 0; /* Remove gap for full-width layout */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}

.Video {
  color: rgb(46, 46, 46);
}

#videos iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#Motions {
  padding-block: 6.25rem;
  color: #05f;
}

.Motion {
  color: rgb(46, 46, 46);
}

.description {
  margin-bottom: 2.625rem;
  font-style: italic;
  color: rgb(0, 41, 123);
}

#about {
  margin: 0;
  font-size: 6.25rem;
  color: #05f;
  background-color: beige;
  border: 0.0625rem;
  border-radius: 0.625rem;
}

.aboutme {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(46, 46, 46);
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: white;
  text-align: center;
  background: url("hero-image.jpg") no-repeat center center/cover;
}

#contact {
  margin: 0;
  font-size: 6.25rem;
  color: #05f;
  background-color: beige;
  border: 0.0625rem;
  border-radius: 0.625rem;
}

.contactme {
  font-size: 3.75rem;
  font-weight: 500;
  color: rgb(255, 115, 0);
}

section {
  padding: 50px 20px;
  text-align: center;
}

#projects .project {
  margin: 20px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  color: white;
  text-align: center;
  background-color: #05f;
}